<%- include('partials/header') %>
<div class="container mt-5">
  <a href="/" class="btn btn-lg btn-primary">Go Back</a>
  <h1>Register Your Account Here</h1>
  <form method="POST" action="/brand" autocomplete="off">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input
        type="email"
        name="email"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        placeholder="enter u r email"
      />
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input
        type="password"
        name="password"
        class="form-control"
        id="exampleInputPassword1"
        placeholder="enter u r password"
      />
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
<%- include('partials/header') %>
