<%- include('partials/header') %>
<div class="container mt-5">
  <a href="/brand" class="btn btn-primary btn-lg">Brand</a>
  <a href="/model" class="btn btn-primary btn-lg">Model</a>
  <a href="/variant" class="btn btn-primary btn-lg">Variant</a>
</div>
<%- include('partials/footer') %>
